@model List<URL>

@{
    ViewData["Title"] = "URLs";    
}

<div id="root"></div> 

<link rel="stylesheet" href="~/react/assets/index-DFJJs-Wz.css" />

<script type="module" src="~/react/index-Cwwl_Tfg.js"></script>